*{
    margin: 0px;
    padding: 0px;
}
h1 {
    color: orangered;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding: 0.5%;
}
h3{
    padding: 5px;
}

.slot{
    height: 315px;
    width: 225px;
    border: 1px solid blue;
    display: inline-block;
    background-image: url('./Sprite_respaldo.jpg') ;
    margin: auto 15px;
}
#MesaTablero{
    text-align: center;
    background-image: url('./Mesa\ de\ poker.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#Tablero{
    border: 2px dashed greenyellow;
    text-align: center;
    padding-top: 5%;
}

#cartasJugador{
    border: 2px dashed orange;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 10%;
    
}
#botones{
    border: 2px dashed red;
    text-align: center;    
}
.boton{
    display: inline-block;
    height: 20px;
    width: 120px;
    text-align: center;
    background-color: #130f40;
    color: white;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
}
#jugarRonda{
    height: 80px;
    width: 80px;
    text-align: center;
    background-color: red;
    color: white;
    border-radius: 100%;
    margin: 10px;
    font-size: auto;
}
#Poker{
    background-image: url('./');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 100%;
    height: auto;
    border: dashed green;
}
p{
    display: inline-block;
    color: rgb(3, 3, 3);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}
#ganador{
    color: rgb(252, 0, 0);
    font-size: 30px;
}
.texto{
    border: solid 1px black;
    background-color: #82ccdd;
}
.info{
    border: solid 1px black;
    background-color: #d1d8e0;
}